<div class="mt-16 product-create">
    <h3 class="create__title">Đăng sản phẩm</h3>
    <form class="create__form" method="POST" action="/ginseng/store">
        <div class="form-group">
            Tên sản phẩm<br>
            <input type="text" class="form-control" id="name" name="name" required>
            </br>
        </div>
        <div class="form-group">
            Hình ảnh<br>
            <input type="text" class="form-control" id="image" name="image" required>
            </br>
        </div>
        <div class="form-group">
            Thành phần<br>
            <input type="text" class="form-control" id="ingredient" name="ingredient" required>
            </br>
        </div>
        <div class="form-group">
            Công dụng<br>
            <input type="text" class="form-control" id="uses" name="uses" required>
            </br>
        </div>
        <div class="form-group">
            Đối tượng sử dụng<br>
            <input type="text" class="form-control" id="userObject" name="userObject" required>
            </br>
        </div>
        <div class="form-group">
            Cách dùng<br>
            <input type="text" class="form-control" id="usage" name="usage" required>
            </br>
        </div>
        <div class="form-group">
            Quy cách<br>
            <input type="text" class="form-control" id="specifications" name="specifications" required>
            </br>
        </div>
        <div class="form-group">
            Hạn sử dụng<br>
            <input type="text" class="form-control" id="expiry" name="expiry" required>
            </br>
        </div>
        <div class="form-group">
            Bảo quản<br>
            <input type="text" class="form-control" id="preserve" name="preserve" required>
            </br>
        </div>
        <div class="form-group">
            Xuất xứ<br>
            <input type="text" class="form-control" id="origin" name="origin" required>
            </br>
        </div>
        <div class="form-group">
            Nhà sản xuất<br>
            <input type="text" class="form-control" id="producer" name="producer" required>
            </br>
        </div>
        <div class="form-group">
            Đơn vị phân phối<br>
            <input type="text" class="form-control" id="importUnit" name="importUnit" required>
            </br>
        </div>
        <div class="form-group">
            Giá ban đầu<br>
            <input type="number" class="form-control" id="priceLine" name="priceLine" required>
            </br>
        </div>
        <div class="form-group">
            Giá sau khi giảm<br>
            <input type="number" class="form-control" id="priceBig" name="priceBig" required>
            </br>
        </div>
        <button type="submit" class="btn btn-primary create__form-btn">Đăng sản phẩm</button>
    </form>
    <div class="clear"></div>
</div>