<div class="footer grid">
	<img src="/img/h1-scaled.jpg" alt="Account" class="footer__slider-img">
    <div class="footer__separate"></div>
    <div class="footer__container">
        <div class="footer__contact">
            <h3><span style="color: #ff6600;">LIÊN HỆ</span></h3>
            <p>Phone: 0988888888</p>
            <p>Email: abc@gmail.com</p>
            <p>Website: abc.com</p>
            <p><strong>Mã số kinh doanh: &nbsp;</strong>0123456789</p>
            <p><img loading="lazy" class="footer__contact-img" src="/img/da-thong-bao.png" alt="Chứng nhận"></p>
        </div>
        <div class="footer__policy">
            <h2 class="policy-title">Chính sách chung</h2>
            <div class="policy-content">
                <ul class="menu-chinh-sach-chung">
                    <li class=""><a href="">Hướng dẫn mua hàng</a></li>
                    <li class=""><a href="">Thanh toán</a></li>
                    <li class=""><a href="">Vận chuyển và giao nhận</a></li>
                    <li class=""><a href="">Chính sách đổi trả hàng</a></li>
                    <li class=""><a href="">Bảo mật thông tin khách hàng</a></li>
                </ul>
            </div>				
        </div>
        <div class="clear"></div>
    </div>
</div>