<div class="header grid">
	<div class="header_logo">
		<h1><a href="/" tittle="Nhân sân nhung  hươu" rel="home">
				<img src="https://nhansamnhunghuou.com/wp-content/uploads/2021/01/13.jpg" alt="Nhân sân nhung  hươu">
			</a>
		</h1>			
    </div>
    <nav class="header_navbar">
        <ul class="header_navbar-list ">
            <li class="header_navbar-item header_navbar-item-separate"><a href="/" class="navbar__item-link">Trang chủ</a></li>
            <li class="header_navbar-item header_navbar-item-separate"><a href="/introduce" class="navbar__item-link">Giới thiệu</a></li>
            <li class="header_navbar-item header_navbar-item-separate"><a href="" class="navbar__item-link">Hỏi đáp</a></li>
            <li class="header_navbar-item"><a href="" class="navbar__item-link">Liên hệ</a></li>
        </ul>

        <ul class="header_navbar-list">
            <form class="header_search">
                <input type="text" class="header_search-input" required>
                <input type="submit" class="search_submit" value="Tìm kiếm">
            </form>
            <li class="header_navbar-item">
                <img src="/img/images.png" alt="Account" class="navbar__account-img">
                <a href="" class="navbar__item-link">Admin</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/ginseng/create">Đăng sản phẩm</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/me/stored-products">Sản phẩm của tôi</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Đăng xuất</a>
                </div>
            </li>
        </ul>
    </nav>
</div>